.main-container
{
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 40%;
    margin: auto;
    margin-top: 10%;
    padding: 2%;
    border: 2px solid cyan;
    flex-wrap: nowrap;
    border-radius: 15px;

}

i{
    text-align: center;
    font-size: 1rem;
    padding: 1%;
    padding-right: 2%;
}

.item-height
{
    height: 42px;
}

.input-container
{
    /* border: 2px solid royalblue; */
    background-color: white;
    padding: 5px;
    display: flex;
}

#input-form
{
    height: 100%;
    width: 90%;
    font-size: 1.0rem;
    font-weight: bolder;
    /* border: 2px solid lightcyan; */
    border-radius: 5px;
    box-shadow: 0px;
    border: 0px;
    margin:0px;
    padding-left:15px;
}

span
{
    width:90%;
}

#plus-icon
{
    display:inline;
    font-size: 1.5rem;
    cursor: pointer;
    width: 5%;
    position:relative;
    left: 1%;
}


ul
{
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
}

li
{
    font-size: 1.8rem;
    background-color: white;
    padding: 5px;
    font-weight: bolder;
    font-family: sans-serif;
    /* border: whitesmoke 2px solid; */
    display: flex;
    align-items: center;
    transition: 0.5s all ease-in-out;
    padding: 5px;
}
li:hover
{
    border: 1px solid coral;
    border-radius: 4px;
    position: relative;
}
.container-footer
{
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 1rem;
    opacity: 0.8;
}

#main-icon
{
    font-size: 1.5rem;
    padding: 1%;
    width: 5%;
}

#item-count
{
    width: 70%;
    padding: 2%;
}